@using FluentFrontend
@using FluentFrontend.Html
@using FluentFrontend.Vue
@using FluentFrontend.Element
@using FluentFrontend.Adapter.Mvc

@{
    ViewBag.Title = "Home Page";
}

@model TestWebApp.Models.IndexModel
    
<p></p>

@{
    var vue = Html.Fluent().Vue();
    var element = Html.Fluent().Element();
    var instance = vue.Instance(new
    {
        Model,
        ValidationErrors = new object()
    }).ValidationErrors(x => x.ValidationErrors);
    using (vue.App().Begin())
    {
        using (element.Row().Begin())
        {
            using (element.Col().Begin())
            {
                using (element.Form().Begin())
                {
                    element.DatePicker()
                        .For(instance.Bind(x => x.Model.Foo))
                        .Write();
                }
            }
        }
    }
    instance.Write();
}