@using FluentFrontend
@using FluentFrontend.Html
@using FluentFrontend.Vue
@using FluentFrontend.Element
@using FluentFrontend.Adapter.Mvc

@{
    ViewBag.Title = "Home Page";
}

@model TestWebApp.Models.IndexModel
    
<p></p>

@{
    @Html.Fluent().Html("div").ForEach(new [] { 1, 2, 3 }, (e, i) => e.Child(Html.Fluent().Html("p").Text(i)))

    var vue = Html.Fluent().Vue();
    var element = Html.Fluent().Element();
    var instance = vue.Instance(new
    {
        Model,
        ValidationErrors = new object()
    }).ValidationErrors(x => x.ValidationErrors);
    using (vue.App().Begin())
    {
        using (element.Row().Begin())
        {
            using (element.Col().Begin())
            {
                using (element.Form().Begin())
                {
                    element.DatePicker()
                        .For(instance.Bind(x => x.Model.SomeDate))
                        .OnChange(ref instance, "alert('click!');")
                        .Write();
                }
            }
        }
        using (element.Row().Begin())
        {
            <p>Selected date: {{ @instance.Data(x => x.Model.SomeDate) }}</p>
        }
    }
    instance.Write();
}